@import 'helper';

$brand-font: 'Raleway';
$border-color: #eee;

html, body, .map-wrap { height: 100%; }

body {
    font-family: BlinkMacSystemFont;
}

.app-container {
    display: flex;
}

.img-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.btn,
.btn:link,
.btn:visited {
  
    background-color: rgba(0,0,0,0);
    border-radius: .3em;
    border-style: solid;
    border-width: 1px;
    color: #111;
    display: inline-block;
    letter-spacing: .15em;
    margin-bottom: .5em;
    padding: 1em .75em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color .4s, background-color .4s, border .4s;
    transition: color .4s, background-color .4s, border .4s;
}

.btn:focus {
    outline: 0;
}

.btn:hover {
  color: #7FDBFF;
  border: 1px solid #7FDBFF;
  -webkit-transition: background-color .3s, color .3s, border .3s;
          transition: background-color .3s, color .3s, border .3s;
}

.btn:active {
  color: #0074D9;
  border: 1px solid #0074D9;
  -webkit-transition: background-color .3s, color .3s, border .3s;
          transition: background-color .3s, color .3s, border .3s;
}

button.paper-button {
    position: relative;
}

.control-pane {

    display: flex;
    flex-flow: column;

    .widget {
        border-bottom: 1px solid $border-color;
        padding: 10px;
    }

    .brand {
        h1 {
            margin: 0;
        }
    }

    .heatmap-controls {
        div {
            padding: 10px 0;
        }

        label {
            padding-left: 5px;
            font-size: 0.8em;
        }
    }
}

.img-preview-container {
    width: calc(100% - 250px);
}

.order-info {
    width: 250px;
    margin-left: 1rem;

    label {
        cursor: pointer;
        display: block;
        margin-bottom: 0.25rem;
    }
}


.upload-runs button {
    display: block;
    margin-top: 10px;
}

.preview-container {
    border: 1px solid $border-color;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

