@import 'helper';
@import 'buttons';

$border-color: #eee;

html, body, .map-wrap { height: 100%; }

body {
    font-family: BlinkMacSystemFont;
}

.app-container {
    display: flex;
}

.img-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.control-pane {

    display: flex;
    flex-flow: column;

    .widget {
        border-bottom: 1px solid $border-color;
        padding: 10px;
    }

    .brand {
        h1 {
            margin: 0;
        }
    }

    .heatmap-controls {
        div {
            padding: 10px 0;
        }

        label {
            padding-left: 5px;
            font-size: 0.8em;
        }
    }
}

.img-preview-container {
    width: calc(100% - 250px);
}

.order-info {
    width: 250px;
    margin-left: 1rem;

    label {
        cursor: pointer;
        display: block;
        margin-bottom: 0.25rem;
    }
}


.upload-runs button {
    display: block;
    margin-top: 10px;
}

.preview-container {
    border: 1px solid $border-color;
}


a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

